/*----------------------------------------------
* Main
----------------------------------------------*/
.home .colored-section.hero-header:after {
  background: rgba(41,43,44, 0.64);
  background: -moz-linear-gradient(135deg, rgba(41,43,44, 0.50) 0%, rgba(41,43,44, 0.40) 100%);
  background: -o-linear-gradient(135deg, rgba(41,43,44, 0.50) 0%, rgba(41,43,44, 0.40) 100%);
  background: -webkit-linear-gradient(135deg, rgba(41,43,44, 0.50) 0%, rgba(41,43,44, 0.40) 100%);
  background: linear-gradient(135deg, rgba(41,43,44, 0.50) 0%, rgba(41,43,44, 0.40) 100%);
}

.home .colored-section, .colored-section h1, .colored-section h2, .colored-section h3, .colored-section h4, 
.home .colored-section h5, .colored-section h6 {
    color: #FFFFFF; 
}
.home .colored-section a:not(.btn):not(.dropdown-item):not(.nav-link):not(.page-link):not(.carousel-control-prev):not(.carousel-control-next) {
    color: inherit;
    border-bottom: 1px solid #999;
    display: inline-block;
}
.home .colored-section a:not(.btn):not(.dropdown-item):not(.nav-link):not(.page-link):not(.carousel-control-prev):not(.carousel-control-next):hover, 
.home .colored-section a:not(.btn):not(.dropdown-item):not(.nav-link):not(.page-link):not(.carousel-control-prev):not(.carousel-control-next):focus{
    color: #fff;
    border-bottom: 1px solid #fff;
}

.home .demo-section.hero-header{
  min-height: 300px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.home section {
  padding: 80px 0px;
}

.home .hero-header:after {
  background: rgba(98,0,234, 0.64);
  background: -moz-linear-gradient(135deg, rgba(98,0,234, 0.50) 0%, rgba(98,0,234, 0.40) 100%);
  background: -o-linear-gradient(135deg, rgba(98,0,234, 0.50) 0%, rgba(98,0,234, 0.40) 100%);
  background: -webkit-linear-gradient(135deg, rgba(98,0,234, 0.50) 0%, rgba(98,0,234, 0.40) 100%);
  background: linear-gradient(135deg, rgba(98,0,234, 0.50) 0%, rgba(98,0,234, 0.40) 100%);
}

.home .hero-header:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
}

.home .hero-header .container{
  z-index: 2;
  position: relative;
}

.home .brand {
  margin-top: 20vh;
  color: #fff;
  text-align: center;
}

.home .brand h1 {
  font-size: 3.8em;
  font-weight: 800;
}

@media (max-width: 768px){
  .home .brand {
      margin-top: 20vh; 
  }
  .home .brand h1{
      font-size: 2.5em;
  }
}

/*----------------------------------------------
* Buttons
----------------------------------------------*/
.home .btn{
  font-family: 'Hind';
  font-weight: 500;
  font-size: 14px;
  padding: .7rem 1.5rem;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: 350ms ease all;
  transition: 350ms ease all;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
}

.home .btn:hover, .home .btn:focus {
  box-shadow: 0px 6px 10px rgba(153, 153, 153, 0.25);
}

.home .btn-round{
  border-radius: 30px;
}

.home .btn-light, .home .btn-light:hover, .home .btn-light:focus,
.home .btn-light.active, .home .btn-light:active,
.home .btn-light:disabled{
  color: #292b2c;
  background-color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
}
.home .btn-light:hover, .home .btn-light:focus,
.home .btn-primary, .home .btn-primary:hover, .home .btn-primary:focus,
.home .btn-primary.active, .home .btn-primary:active,
.home .btn-primary:disabled{
  color: #fff;
  background-color: #6200ea;
  border-color: #6200ea;
}
.home .btn-primary:hover, .home .btn-primary:focus{
  color: #fff;
  background-color: #00b0ff;
  border-color: #00b0ff;
}
.home .btn-danger, .home .btn-danger:hover, .home .btn-danger:focus,
.home .btn-danger.active, .home .btn-danger:active,
.home .btn-danger:disabled{
  color: #fff;
  background-color: #ff1744;
  border-color: #ff1744;
}
.home .btn-danger:hover, .home .btn-danger:focus{
  box-shadow: 0px 6px 10px rgba(255,23,68, 0.25);
}
